@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Antd Carousel */
.slick-slider {
  padding: 0 32px;
}

.slick-slide > div {
  margin: 24px 12px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .slick-slide > div {
    margin: 16px 8px;
  }
}

.slick-arrow {
  color: black !important;
}

.slick-arrow::after {
  width: 16px !important;
  height: 16px !important;
  border-inline-width: 4px 0 !important;
  border-block-width: 4px 0 !important;
}

/* Antd Collapse */
.ant-collapse {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.ant-collapse + .ant-collapse {
  margin-top: 24px;
}

.ant-collapse,
.ant-collapse-content {
  background: #1B1B1B !important;
}

.ant-collapse-header,
.ant-collapse-content {
  color: white !important;
}

.ant-collapse-header-text {
  font: 700 24px 'Source Sans Pro', sans-serif;
  line-height: 30px;
}

.ant-collapse-content-box {
  font: 400 20px 'Source Sans Pro', sans-serif;
  line-height: 28px;
}

.ant-collapse-content-box p+p {
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .ant-collapse-header-text {
    font-size: 19.2px;
    line-height: 26px;
  }

  .ant-collapse-content-box > p {
    font-size: 16px;
    line-height: 24px;
  }
}